<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>

</startup>
  <connectionStrings>
    <add name="DBconnectionString" connectionString="server=localhost;user id=dotnet_admin;Pwd=27525521;persistsecurityinfo=True;database=dotnet" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>
